:root {
    --clr-main: #517d81;
    --clr-secondary: #7a8174;
    --clr-highlight: #008C95;
    --clr-light: #d3d8de;
    --clr-dark: #1d2530;
    --clr-white: #f0f0f0;

    --poke-clr-normal: linear-gradient(#c5c5a1, #a4a484);
    --poke-clr-fairy: linear-gradient(#c5a1b9, #9f84a4);
    --poke-clr-fire: linear-gradient(#e96933, #d05e2e);
    --poke-clr-water: linear-gradient(#6188a1, #54778c);
    --poke-clr-electric: linear-gradient(#f5f583, #d7d773);
    --poke-clr-grass: linear-gradient(#87cf87, #76b376);
    --poke-clr-ice: linear-gradient(#7ce1e1, #6ec9c9);
    --poke-clr-fighting: linear-gradient(#db93db, #bf81bf);
    --poke-clr-poison: linear-gradient(#844784, #6a396a);
    --poke-clr-ground: linear-gradient(#776043, #5d4b35);
    --poke-clr-psychic: linear-gradient(#c04f8b, #a74479);
    --poke-clr-bug: linear-gradient(#c19748, #ab8540);
    --poke-clr-rock: linear-gradient(#9e4646, #883c3c);
    --poke-clr-ghost: linear-gradient(#57576d, #3e3e4e);
    --poke-clr-dark: linear-gradient(#1f1f1f, #000000);
    --poke-clr-steel: linear-gradient(#c5c5c5, #a2a2a2);
}

.clr-normal {
    background-image: var(--poke-clr-normal);
}

.clr-fire {
    background-image: var(--poke-clr-fire);
}

.clr-water {
    background-image: var(--poke-clr-water);
}

.clr-electric {
    background-image: var(--poke-clr-electric);
}

.clr-grass {
    background-image: var(--poke-clr-grass);
}

.clr-ice {
    background-image: var(--poke-clr-ice);
}

.clr-fighting {
    background-image: var(--poke-clr-fighting);
}

.clr-poison {
    background-image: var(--poke-clr-poison);
}

.clr-ground {
    background-image: var(--poke-clr-ground);
}

.clr-psychic {
    background-image: var(--poke-clr-psychic);
}

.clr-bug {
    background-image: var(--poke-clr-bug);
}

.clr-rock {
    background-image: var(--poke-clr-rock);
}

.clr-ghost {
    background-image: var(--poke-clr-ghost);
}

.clr-dark {
    background-image: var(--poke-clr-dark);
}

.clr-steel {
    background-image: var(--poke-clr-steel);
}

body {
    background-color: var(--clr-white);
    color: var(--clr-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    position: relative;

}

main {
    margin: 0 auto;
    max-width: 90%;


    text-align: center;
    padding: 20px;
    min-height: 75%;

}

@media (min-width: 850px) and (max-width: 1500px) {
    main {
        margin: 0 auto;
        max-width: 70%;
    }
}

@media (min-width: 1501px) {
    main {
        margin: 0 auto;
        max-width: 50%;
    }
}

.icon {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
}

h1 {
    color: var(--clr-white);
}

h2,
h3 {
    color: var(--clr-main);
}



header {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    overflow: hidden;


    position: sticky;
    top: 0px;

}

header h1 a {
    color: var(--clr-white);
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}

header ul {
    margin: 0;

}

header li {
    display: inline;
    padding: 5px;
    font-weight: bold;


}

header li:hover {
    background-color: var(--clr-highlight);
    margin-top: -5px;
    padding-bottom: 15px;

}

footer {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    text-align: center;
}


#logger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;

}



a {
    color: inherit;
    text-decoration: none;
}

.buttonlikeDARK {
    background-color: var(--clr-highlight);
    text-decoration: none;
    color: var(--clr-white);
    padding: 3px;
    border-radius: 15px;
}

.buttonlikeLIGHT {
    color: var(--clr-highlight);
    text-decoration: none;
    background-color: var(--clr-white);
    padding: 3px;
    border-radius: 15px;
}

#register {
    background-color: var(--clr-highlight);
    text-decoration: none;
    color: var(--clr-white);
    padding: 13px;
    border-radius: 15px;
}

table {
    margin: auto;
}

.image {
    height: inherit;
}

#searchExtras,
#searchExtras li,
#types,
#types li {
    display: inline;
    cursor: pointer;
    user-select: none;
}

#searchExtras,
#types {
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

#types li {
    background-color: var(--clr-main);
    text-decoration: none;
    color: var(--clr-white);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}



#types li:hover {
    background-color: var(--clr-highlight);
}

#types li label,
#types li input {
    cursor: pointer;
    user-select: none;
}

.searchButton {
    color: var(--clr-main);
    text-decoration: none;
    background-color: var(--clr-white);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#searchTitle {
    display: inline;
}

#typeseaech {
    margin: 20px;

}

#errorMsg {
    color: var(--clr-light);
}

#errorBox {

    background-color: var(--clr-secondary);
    opacity: 90%;
    color: var(--clr-light);
    padding: 50px 90px 50px 90px;
    border-radius: 15px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cancel {
    position: absolute;
    top: 10px;
    right: 10px;
}

#randomBuyButton {
    max-width: 250px;

    position: absolute;
    bottom: 10px;
    right: 20px;

    transition: 0.30s;

}

#randomBuyButton:hover {
    color: var(--clr-white);
}


#msgbutton {
    cursor: pointer;
}

#messages {
    max-width: 225px;
    min-width: 225px;
    opacity: 95%;
    padding: 5px;
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-main);
    border-radius: 10px;

    position: fixed;
    right: 10px;
    z-index: 100;

}

#messages h2 {
    color: var(--clr-light);

}

.message {
    border: 1px solid var(--clr-main);
    background-color: var(--clr-light);
    border-radius: 10px;
    color: var(--clr-main);


}

.message:hover {
    border: 1px solid var(--clr-highlight);
    background-color: var(--clr-white);

    border-radius: 10px;

}

#pagesDiv>* {
    display: inline;
    cursor: pointer;
}

#pagesDiv li {
    display: inline;
    cursor: pointer;

}

#pagesDiv ul {
    margin: 0;
    padding: 0;
    cursor: pointer;

}